<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>书评审核记录</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

<!--导航-->
<nav th:replace="admin/_fragments :: menu(0)" class="ui segment inverted attached m-padding-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted stackable menu secondary">
            <h2 class="ui teal header item">RdShare</h2>
            <a href="#" class="item m-mobile-hide m-item"><i class="mini filter icon"></i>书评审核</a>
            <div class="right menu m-mobile-hide m-item">
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="https://source.unsplash.com/random/100x100">
                        吴晋子
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">
                            <i class="sign out alternate icon"></i>
                            注销
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui icon black button m-right-top m-mobile-show m-menu-toggle">
        <i class="sidebar icon"></i>
    </a>
</nav>


<!--中间内容-->
<div class="m-padding-tb-max m-container">
    <div class="ui container">
        <div class="ui teal segment top attached">
            <h2 class="ui teal header">审核记录列表</h2>
        </div>
        <div class="ui attached segment">
            <table class="ui table">
            <thead>
            <tr>
                <th></th>
                <th>用户昵称</th>
                <th>类别</th>
                <th>审核内容简要</th>
                <th>审核时间</th>
                <th>审核结果</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="verifyRecord,iterStat : ${page.content}">
                <td th:text="${iterStat.count}">1</td>
                <td th:text="${verifyRecord.nickName}">lsl</td>
                <td>
                    <span th:if="${verifyRecord.bookReview != null}">书评</span>
                    <span th:if="${verifyRecord.book != null}">书籍</span>
                    <span th:if="${verifyRecord.bookForestCreateApply != null}">书林创建申请</span>
                    <span th:if="${verifyRecord.bookReview == null  && verifyRecord.book == null && verifyRecord.bookForestCreateApply == null}">已删除</span>
                </td>
                <td th:text="${verifyRecord.verifyContentBriefInfo}">书有清香 | 莫以成败论英雄——《逃离》——爱丽丝门罗</td>
                <td th:text="${#dates.format(verifyRecord.createTime,'yyyy-MM-dd HH:mm:ss')}">2018-05-05 17:26:10</td>
                <td th:switch="${verifyRecord.result}" th:classappend="${verifyRecord.result == 0} ? 'negative' : 'positive'">
                    <span th:case="0">未通过</span>
                    <span th:case="1">通过</span>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="7">
                    <div class="ui segment" th:if="${page.totalPages}>1">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <a href="#" th:href="@{/admin/book_review_verify_record_list(page=${page.number}-1)}"  th:unless="${page.first}" class="ui mini teal basic button">上一页</a>
                            </div>
                            <div class="right aligned column">
                                <a href="#" th:href="@{/admin/book_review_verify_record_list(page=${page.number}+1)}"  th:unless="${page.last}" class="ui mini teal basic button">下一页</a>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
        </div>

        <div class="ui positive message" th:unless="${#strings.isEmpty(pMessage)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${pMessage}">恭喜，操作成功！</p>
        </div>
        <div class="ui negative message" th:unless="${#strings.isEmpty(nMessage)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${nMessage}">很遗憾，该页不存在！</p>
        </div>
    </div>
</div>
<!--底部-->
<footer class="ui segment inverted attached " th:replace="admin/_fragments :: footer">
    <div class="ui container center aligned m-padding-tb-max">
        <div class="ui divided grid inverted stackable">
            <div class="eight wide column">
                <h4 class="ui header inverted">开发者推荐</h4>
                <div class="ui link list inverted m-opacity-mini m-text-lined">
                    <a href="#" class="item">用户故事(User Story)</a>
                    <a href="#" class="item">关于刻意练习的清单</a>
                    <a href="#" class="item">失败要趁早</a>
                </div>
            </div>
            <div class="eight wide column">
                <h4 class="ui header inverted">联系开发者</h4>
                <div class="ui link list inverted m-opacity-mini m-text-lined">
                    <a href="#" class="item">Email:279660577@qq.com</a>
                    <a href="#" class="item">QQ:279660577</a>
                </div>
            </div>
        </div>
        <div class="ui section divider inverted"></div>
        <P class="m-text-spaced m-opacity-tiny">Copyright © 2018 WuJinzi. All Rights Reserved!</P>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<script>
    $('.m-menu-toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown')
        .dropdown({
            on: 'hover'
        });
    $('.message .close')
        .on('click', function() {
            $(this)
                .closest('.message')
                .transition('fade');
        });
</script>
</body>
</html>