<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>写书评</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/lib/editormd/css/editormd.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

<!--导航-->
<nav th:replace="_fragments :: menu(4)" class="ui segment inverted attached m-padding-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted stackable menu secondary">
            <h2 class="ui teal header item">RdShare</h2>
            <a href="#" class="item m-mobile-hide m-item"><i class="mini idea icon"></i>探索</a>
            <a href="#" class="item m-mobile-hide m-item"><i class="mini  eye icon"></i>关注</a>
            <a href="#" class="item m-mobile-hide m-item"><i class="mini  book icon"></i>书林</a>
            <a href="#" class="active item m-mobile-hide m-item"><i class="mini  edit icon"></i>写书评</a>
            <div class="right menu m-mobile-hide m-item">
                <div class="ui input icon transparent inverted">
                    <input type="text" placeholder="Search......">
                    <i class="search icon link"></i>
                </div>
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="https://source.unsplash.com/random/100x100">
                        吴晋子
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item" target="_blank">
                            <i class="file icon"></i>
                            我的书评
                        </a>
                        <a href="#" class="item" target="_blank">
                            <i class="book icon"></i>
                            我的共享书籍
                        </a>
                        <a href="#" class="item" target="_blank">
                            <i class="sign out alternate icon"></i>
                            注销
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui icon black button m-right-top m-mobile-show m-menu-toggle">
        <i class="sidebar icon"></i>
    </a>
</nav>


<!--中间内容-->
<div class="m-padding-tb-big m-container">
    <div class="ui container">
        <form id="bookReview_form" action="#" th:action="@{/user/book_review_edit}" class="ui form" method="post" th:object="${bookReview}">

            <input type="hidden" name="id" th:value="*{id}">
            <input type="hidden" name="status" th:value="*{status}">

            <div class="field">
                <div class="ui left labeled input">
                    <label class="ui teal basic label">标题</label>
                    <input type="text" name="title" placeholder="书评标题" th:value="*{title}">
                </div>
                <div class="ui pointing red basic label" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">书评标题不能为空</div>
            </div>
            <div class="field">
                <div class="ui left labeled input">
                    <label class="ui teal basic label">书名</label>
                    <input type="text" name="bookName" placeholder="你阅读的书籍名称，如：《受戒》" th:value="*{bookName}">
                </div>
                <div class="ui pointing red basic label" th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}">书籍名称不能为空</div>
            </div>
            <div class="field">
                <div class="ui left labeled input">
                    <label class="ui teal basic label">作者</label>
                    <input type="text" name="bookAuthor" placeholder="你阅读的书籍作者，如：汪曾祺" th:value="*{bookAuthor}">
                </div>
                <div class="ui pointing red basic label" th:if="${#fields.hasErrors('bookAuthor')}" th:errors="*{bookAuthor}">作者姓名不能为空</div>
            </div>

            <div class="field">
                <div class="ui left labeled input">
                    <label class="ui teal basic label">首图</label>
                    <input type="text" name="firstPicture" placeholder="首图引用地址" th:value="*{firstPicture}">
                </div>
                <div class="ui pointing red basic label" th:if="${#fields.hasErrors('firstPicture')}" th:errors="*{firstPicture}">首图地址不能为空</div>
            </div>

            <div class="field">
                <div id="md-content" style="z-index: 1 !important;">
                    <textarea name="content" placeholder="请输入文章内容...." style="display:none;" th:text="*{content}"></textarea>
                </div>
                <div class="ui pointing red basic label" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">书评内容不能为空</div>
            </div>

            <div class="field">
                <textarea name="description"  placeholder="书评描述（不超过100字）..." maxlength="100" th:text="*{description}"></textarea>
                <div class="ui pointing red basic label" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">书评描述不能为空</div>
            </div>

            <div class="inline fields">
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" class="hidden" name="allowComment" checked id="allowComment" th:checked="*{allowComment}">
                        <label for="allowComment">允许评论</label>
                    </div>
                </div>
            </div>

            <div class="ui error message"></div>

            <div class="ui right aligned container">
                <button class="ui button" onclick="window.history.go(-1)">返回</button>
                <button class="ui orange button" id="save_btn">保存</button>
                <button class="ui teal button" id="publish_btn">发布</button>
            </div>
        </form>
    </div>
</div>
<!--底部-->
<footer class="ui segment inverted attached " th:replace="_fragments :: footer">
    <div class="ui container center aligned m-padding-tb-max">
        <div class="ui divided grid inverted stackable">
            <div class="eight wide column">
                <h4 class="ui header inverted">开发者推荐</h4>
                <div class="ui link list inverted m-opacity-mini m-text-lined">
                    <a href="#" class="item">用户故事(User Story)</a>
                    <a href="#" class="item">关于刻意练习的清单</a>
                    <a href="#" class="item">失败要趁早</a>
                </div>
            </div>
            <div class="eight wide column">
                <h4 class="ui header inverted">联系开发者</h4>
                <div class="ui link list inverted m-opacity-mini m-text-lined">
                    <a href="#" class="item">Email:279660577@qq.com</a>
                    <a href="#" class="item">QQ:279660577</a>
                </div>
            </div>
        </div>
        <div class="ui section divider inverted"></div>
        <P class="m-text-spaced m-opacity-tiny">Copyright © 2018 WuJinzi. All Rights Reserved!</P>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>

<script>
    var testEditor;

    $(function() {
        testEditor = editormd("md-content", {
            width   : "100%",
            height  : 900,
            syncScrolling : "single",
//            path    : "../static/lib/editormd/lib/"
            path    : "/lib/editormd/lib/"
        });
    });

    $('.m-menu-toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown')
        .dropdown({
            on: 'hover'
        });

    $('#save_btn').click(function () {
        $('[name="status"]').val(0);
        $('#blog-form').submit();
    });
    $('#publish_btn').click(function () {
        $('[name="status"]').val(1);
        $('#blog-form').submit();
    });

    // $('.ui.form')
    //     .form({
    //         fields: {
    //             title: {
    //                 identifier: 'title',
    //                 rules: [
    //                     {
    //                         type   : 'empty',
    //                         prompt : '书评标题不能为空'
    //                     }
    //                 ]
    //             },
    //             bookName: {
    //                 identifier: 'bookName',
    //                 rules: [
    //                     {
    //                         type   : 'empty',
    //                         prompt : '书名不能为空'
    //                     }
    //                 ]
    //             },
    //             bookAuthor: {
    //                 identifier: 'bookAuthor',
    //                 rules: [
    //                     {
    //                         type   : 'empty',
    //                         prompt : '作者不能为空'
    //                     }
    //                 ]
    //             },
    //             firstPicture: {
    //                 identifier: 'firstPicture',
    //                 rules: [
    //                     {
    //                         type   : 'empty',
    //                         prompt : '首图地址不能为空'
    //                     }
    //                 ]
    //             },
    //             content: {
    //                 identifier: 'content',
    //                 rules: [
    //                     {
    //                         type   : 'empty',
    //                         prompt : '文章内容不能为空'
    //                     }
    //                 ]
    //             },
    //             description: {
    //                 identifier: 'description',
    //                 rules: [
    //                     {
    //                         type   : 'empty',
    //                         prompt : '书评描述不能为空'
    //                     }
    //                 ]
    //             }
    //         }
    //     });
</script>
</body>
</html>