<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>书林主页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

<!--导航-->
<nav th:replace="_fragments :: menu(0)" class="ui segment inverted attached m-padding-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted stackable menu secondary">
            <h2 class="ui teal header item">RdShare</h2>
            <a href="#" class="item m-mobile-hide m-item"><i class="mini idea icon"></i>探索</a>
            <a href="#" class="item m-mobile-hide m-item"><i class="mini  eye icon"></i>关注</a>
            <a href="#" class="item m-mobile-hide m-item"><i class="mini  book icon"></i>书林</a>
            <a href="#" class="item m-mobile-hide m-item"><i class="mini  edit icon"></i>写书评</a>
            <div class="right menu m-mobile-hide m-item">
                <div class="ui input icon transparent inverted">
                    <input type="text" placeholder="Search......">
                    <i class="search icon link"></i>
                </div>
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="https://source.unsplash.com/random/100x100">
                        <span>bajie</span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item" target="_blank">
                            <i class="file icon"></i>
                            我的书评
                        </a>
                        <a href="#" class="item" target="_blank">
                            <i class="book icon"></i>
                            我的共享书籍
                        </a>
                        <a href="#" class="item" target="_blank">
                            <i class="sign out alternate icon"></i>
                            注销
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui icon black button m-right-top m-mobile-show m-menu-toggle">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--中间内容-->
<div class="m-container m-padding-tb-big">
    <div class="ui container">
        <div class="ui negative message" th:unless="${#strings.isEmpty(nMessage)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${nMessage}">还没有书评</p>
        </div>
        <div class="ui stackable grid">
           <!--左边-->
           <div class="eleven wide column">
               <div class="ui teal segment top attached">
                    <h2 class="ui teal header">书籍</h2>
               </div>
               <!--content-->
               <div class="ui segment attached">
                    <div class="ui vertical padded segment  m-padding-lr-clear" th:each="book : ${page.content}">
                        <div class="ui stackable grid mobile reversed padded">
                            <div class="seven wide column middle aligned">
                                <a href="#">
                                    <img src="https://source.unsplash.com/random/800x500" th:src="@{${book.firstPicture}}"  class="ui medium rounded image">
                               </a>
                            </div>
                            <div class="nine wide column">
                                <div>
                                    <a class="ui  teal massive label m-padding-tiny m-text-thin" th:text="${book.name}">《逃离》</a>
                                    <div class="ui orange big label m-padding-tiny m-text-thin" th:text="${book.author}">爱丽丝门罗</div>
                                </div>
                                <div class="m-margin-top">
                                    <p class="m-text" th:text="${book.remark}">天津人民出版社，第二版</p>
                                </div>
                                <div class="m-margin-top">
                                    <div class="ui big red label m-padding-tiny" th:classappend="${book.shareWay == 0} ? 'green' : 'red'" th:switch="${book.shareWay}">
                                        <span th:case="1">卖</span>
                                        <!--<span th:case="0">借</span>-->
                                    </div>
                                    <div class="ui big blue label m-padding-tiny m-text-thin">
                                        <span th:text="${bookReview.contactInfo}">微信：bajie2shuling</span>
                                    </div>
                                </div>

                                <div class="ui grid m-margin-top">
                                    <div class="ui horizontal link list mini">
                                        <div class="item">
                                            <a href="#" class="header" th:href="@{/user/{id}/homepage(id=${bookReview.user.id})}">
                                                <img src="https://source.unsplash.com/random/100x100"  class="ui avatar image">
                                                <span th:text="${book.user.nickName}">吴晋子</span>
                                            </a>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i>
                                            <span th:text="${#dates.format(book.createTime,'yyyy-MM-dd HH:mm')}">2018-4-20 18:20</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               <!--footer  bottom-->
               <div class="ui segment bottom attached">
                   <!--<div class="ui grid two column middle aligned" th:if="${page.totalPages}>1">-->
                       <!--<div class="column">-->
                           <!--<a href="#" class="ui basic mini button teal" th:href="@{/bookForest/{id}/homepage(id=${bookForest.id},page=${page.number}-1)}" th:unless="${page.first}">上一页</a>-->
                       <!--</div>-->
                       <!--<div class="right aligned column">-->
                           <!--<a href="#" class="ui basic mini button teal" th:href="@{/bookForest/{id}/homepage(id=${bookForest.id},page=${page.number}+1)}" th:unless="${page.last}">下一页</a>-->
                       <!--</div>-->
                   <!--</div>-->
               </div>
           </div>
            <!--右边-->
            <div class="five wide column">
                <div class="ui teal top attached segment">

                    <input type="hidden" name="id" th:value="${bookForest.id}">

                    <div class="ui card">
                        <div class="image">
                            <img src="https://source.unsplash.com/random/400x400">
                        </div>
                        <div class="content">
                            <a class="header" th:text="${bookForest.name}" th:href="@{/user/{id}/bookForest(id=${bookForest.id})}">成都信息工程大学航空港校区书林</a>
                            <div class="description">成都信息工程大学航空港校区书林是为了方便校内学生书籍共享而创建</div>
                        </div>
                        <div class="extra content">
                            <span class="date" th:text="${#dates.format(bookForest.createTime,'yyyy-MM-dd')}">2018</span> 创建
                        </div>

                        <div class="ui extra content" id="join_container">
                            <div th:fragment="join">
                                <a onclick="joinSwitch()" class="ui green circular button">
                                    <!--<span th:unless="${#lists.contains(session.bookForestIds, bookForest.id)}">加入</span>-->
                                    <span th:if="${#lists.contains(session.bookForestIds, bookForest.id)}">已加入</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--底部-->
<footer class="ui segment inverted attached " th:replace="_fragments :: footer">
    <div class="ui container center aligned m-padding-tb-max">
        <div class="ui divided grid inverted stackable">
            <div class="eight wide column">
                <h4 class="ui header inverted">开发者推荐</h4>
                <div class="ui link list inverted m-opacity-mini m-text-lined">
                    <a href="#" class="item">用户故事(User Story)</a>
                    <a href="#" class="item">关于刻意练习的清单</a>
                    <a href="#" class="item">失败要趁早</a>
                </div>
            </div>
            <div class="eight wide column">
                <h4 class="ui header inverted">联系开发者</h4>
                <div class="ui link list inverted m-opacity-mini m-text-lined">
                    <a href="#" class="item">Email:279660577@qq.com</a>
                    <a href="#" class="item">QQ:279660577</a>
                </div>
            </div>
        </div>
        <div class="ui section divider inverted"></div>
        <P class="m-text-spaced m-opacity-tiny">Copyright © 2018 WuJinzi. All Rights Reserved!</P>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<script>
    $('.m-menu-toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown')
        .dropdown({
            on: 'hover'
        });
    $('.message .close')
        .on('click', function() {
            $(this)
                .closest('.message')
                .transition('fade');
        });
    function joinSwitch() {
        $("#join_container").load(/*[[@{/user/join_switch}]]*/"/bookForest/join_switch",{
            id : $("[name='id']").val()
        });
    }
</script>
</body>
</html>