<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>书林搜索</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

<!--导航-->
<nav th:replace="_fragments :: menu(3)" class="ui segment inverted attached m-padding-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted stackable menu secondary">
            <h2 class="ui teal header item">RdShare</h2>
            <a href="#" class="item m-mobile-hide m-item"><i class="mini idea icon"></i>探索</a>
            <a href="#" class="item m-mobile-hide m-item"><i class="mini  eye icon"></i>关注</a>
            <a href="#" class="active item m-mobile-hide m-item"><i class="mini  book icon"></i>书林</a>
            <a href="#" class="item m-mobile-hide m-item"><i class="mini  edit icon"></i>写书评</a>
            <div class="right menu m-mobile-hide m-item">
                <div class="ui input icon transparent inverted">
                    <input type="text" placeholder="Search......">
                    <i class="search icon link"></i>
                </div>
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="https://source.unsplash.com/random/100x100">
                        <span>吴晋子</span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item" target="_blank">
                            <i class="file icon"></i>
                            我的书评
                        </a>
                        <a href="#" class="item" target="_blank">
                            <i class="book icon"></i>
                            我的共享书籍
                        </a>
                        <a href="#" class="item" target="_blank">
                            <i class="sign out alternate icon"></i>
                            注销
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui icon black button m-right-top m-mobile-show m-menu-toggle">
        <i class="sidebar icon"></i>
    </a>
</nav>

<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/user/book_forests}" class="item">书林</a>
            <a href="#" th:href="@{/user/book_forest/search}" class="teal active item">搜索</a>
            <a href="#" th:href="@{/user/bookforest/create/apply}" class="item">申请创建书林</a>
        </div>
    </div>
</div>

<!--中间内容-->
<div class="m-container m-padding-tb-big">
    <div class="ui container">

        <div class="ui form teal segment">

            <input type="hidden" name="page">

            <div class="field">
                <div class="ui left labeled input">
                    <label class="ui teal basic label">书林搜索</label>
                    <input type="text" name="query" placeholder="输入书林名称">
                </div>
            </div>
            <div class="ui right aligned container">
                <button class="ui orange basic mini button" id="search-btn">搜索</button>
                <div class="ui error message"></div>
            </div>
        </div>

        <div class="ui  top attached segment">
            <div class="column">
                <h3 class="ui teal header">书林搜索结果</h3>
            </div>
        </div>

        <div class="ui attached segment" id="book_forest_container">
            <div th:fragment="bookForests">
                <div  class="ui attached segment m-padding-lr-clear" style="padding-left: 4em">
                    <div class="ui cards">
                        <div class="card" th:each="bookForest : ${page.content}">
                            <div class="image">
                                <img src="https://source.unsplash.com/random/400x400">
                            </div>
                            <div class="content">
                                <a class="header" th:text="${bookForest.name}" th:href="@{/user/{id}/bookForest(id=${bookForest.id})}">成都信息工程大学航空港校区书林</a>
                                <div class="description">成都信息工程大学航空港校区书林是为了方便校内学生书籍共享而创建</div>
                            </div>
                            <div class="extra content">
                                <span class="date" th:text="${#dates.format(bookForest.createTime,'yyyy-MM-dd')}">2013</span> 创建
                            </div>
                        </div>
                    </div>
                </div>
                <!--footer  bottom-->
                <div class="ui segment attached" th:if="${page.totalPages}>1">
                    <div class="ui grid two column middle aligned">
                        <div class="column">
                            <a href="#" class="ui basic mini button teal" onclick="page(this)" th:attr="data-page=${page.number}-1"  th:unless="${page.first}">上一页</a>
                        </div>
                        <div class="right aligned column">
                            <a href="#" class="ui basic mini button teal" onclick="page(this)" th:attr="data-page=${page.number}+1"  th:unless="${page.last}">下一页</a>
                        </div>
                    </div>
                </div>
                <div class="ui negative message" th:unless="${#strings.isEmpty(nMessage)}">
                    <i class="close icon"></i>
                    <div class="header">提示：</div>
                    <p th:text="${nMessage}">抱歉，没有结果</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--底部-->
<footer class="ui segment inverted attached " th:replace="_fragments :: footer">
    <div class="ui container center aligned m-padding-tb-max">
        <div class="ui divided grid inverted stackable">
            <div class="eight wide column">
                <h4 class="ui header inverted">开发者推荐</h4>
                <div class="ui link list inverted m-opacity-mini m-text-lined">
                    <a href="#" class="item">用户故事(User Story)</a>
                    <a href="#" class="item">关于刻意练习的清单</a>
                    <a href="#" class="item">失败要趁早</a>
                </div>
            </div>
            <div class="eight wide column">
                <h4 class="ui header inverted">联系开发者</h4>
                <div class="ui link list inverted m-opacity-mini m-text-lined">
                    <a href="#" class="item">Email:279660577@qq.com</a>
                    <a href="#" class="item">QQ:279660577</a>
                </div>
            </div>
        </div>
        <div class="ui section divider inverted"></div>
        <P class="m-text-spaced m-opacity-tiny">Copyright © 2018 WuJinzi. All Rights Reserved!</P>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<script>
    $('.m-menu-toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown')
        .dropdown({
            on: 'hover'
        });
    $('.message .close')
        .on('click', function() {
            $(this)
                .closest('.message')
                .transition('fade');
        });

    function page(obj) {
        $("[name='page']").val($(obj).data("page"));
        loaddata();
    }

    $("#search-btn").click(function () {
        $("[name='page']").val(0);
        loaddata();
    });
    function loaddata() {
        $("#book_forest_container").load(/*[[@{/user/book_forest/search}]]*/"/user/book_forest/search",{
            query : $("[name='query']").val(),
            page : $("[name='page']").val()
        });
    }
</script>
</body>
</html>