<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>编辑书籍</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

<!--导航-->
<nav th:replace="_fragments :: menu(1)" class="ui segment inverted attached m-padding-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted stackable menu secondary">
            <h2 class="ui teal header item">RdShare</h2>
            <a href="#" class="item m-mobile-hide m-item"><i class="mini idea icon"></i>探索</a>
            <a href="#" class="item m-mobile-hide m-item"><i class="mini  eye icon"></i>关注</a>
            <a href="#" class="item m-mobile-hide m-item"><i class="mini  book icon"></i>书林</a>
            <a href="#" class="item m-mobile-hide m-item"><i class="mini  edit icon"></i>写书评</a>
            <div class="right menu m-mobile-hide m-item">
                <div class="ui input icon transparent inverted">
                    <input type="text" placeholder="Search......">
                    <i class="search icon link"></i>
                </div>
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="https://source.unsplash.com/random/100x100">
                        <span>吴晋子</span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item" target="_blank">
                            <i class="file icon"></i>
                            我的书评
                        </a>
                        <a href="#" class="item" target="_blank">
                            <i class="book icon"></i>
                            我的共享书籍
                        </a>
                        <a href="#" class="item" target="_blank">
                            <i class="sign out alternate icon"></i>
                            注销
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui icon black button m-right-top m-mobile-show m-menu-toggle">
        <i class="sidebar icon"></i>
    </a>
</nav>


<!--中间内容-->
<div class="m-padding-tb-max m-container-tiny">
    <div class="ui container">
        <form class="ui form teal segment">

            <input type="hidden" name="bookReviewId" th:value="${bookReviewId}">

            <div class="field">
                <label>联系方式</label>
                <input type="text" name="contactInfo" placeholder="手机、微信、QQ...." >
            </div>

            <div class="two fields">
                <div class="field">
                    <label>共享方式</label>
                    <select class="ui dropdown" name="shareWay">
                        <option value="0">借</option>
                        <option value="1">卖</option>
                    </select>
                </div>
                <div class="field">
                    <label>书林</label>
                    <select class="ui dropdown" name="bookForestId" th:each="${bookForest : bookForests}">
                        <option value="0" th:value="bookForest.id" th:text="bookForest.name">成都信息工程大学航空港校区书林</option>
                        <!--/*-->
                        <option value="1" >成都信息工程大学龙泉校区书林</option>
                        <!--*/-->
                    </select>
                </div>
            </div>

            <div class="field">
                <label>书籍备注</label>
                <input type="text" name="remark" placeholder="书籍出版社以及版本等信息...." th:value="${book.remark}">
            </div>
            <div class="ui basic teal button">提交</div>
            <div class="ui error message"></div>
        </form>

    </div>
</div>

<!--底部-->
<footer class="ui segment inverted attached " th:replace="_fragments :: footer">
    <div class="ui container center aligned m-padding-tb-max">
        <div class="ui divided grid inverted stackable">
            <div class="eight wide column">
                <h4 class="ui header inverted">开发者推荐</h4>
                <div class="ui link list inverted m-opacity-mini m-text-lined">
                    <a href="#" class="item">用户故事(User Story)</a>
                    <a href="#" class="item">关于刻意练习的清单</a>
                    <a href="#" class="item">失败要趁早</a>
                </div>
            </div>
            <div class="eight wide column">
                <h4 class="ui header inverted">联系开发者</h4>
                <div class="ui link list inverted m-opacity-mini m-text-lined">
                    <a href="#" class="item">Email:279660577@qq.com</a>
                    <a href="#" class="item">QQ:279660577</a>
                </div>
            </div>
        </div>
        <div class="ui section divider inverted"></div>
        <P class="m-text-spaced m-opacity-tiny">Copyright © 2018 WuJinzi. All Rights Reserved!</P>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<script>
    $('.m-menu-toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown')
        .dropdown({
            on: 'hover'
        });
    $('.message .close')
        .on('click', function() {
            $(this)
                .closest('.message')
                .transition('fade');
        });
</script>
</body>
</html>